.venv/
results/
*.mkv
*.mp4
*.avi
*.mov
*.webm
*.flv
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.DS_Store
*.log
models/
grafana-data/

prometheus/data/
prometheus/prometheus.log
prometheus/prometheus
prometheus/prometheus-*.tar.gz
prometheus/prometheus
prometheus/promtool
prometheus/LICENSE
prometheus/NOTICE
prometheus/console_libraries/
prometheus/consoles/
